.idea
.vscode
/0x03-python-data_structures/13-is_palindrome.c
/0x03-python-data_structures/100-print_python_list_info.c
/0x03-python-data_structures/100-test_lists.py
/0x02-python-import_modules/add_0.py
/0x02-python-import_modules/calculator_1.py
/0x03-python-data_structures/lists.h
/0x03-python-data_structures/README.md
/0x02-python-import_modules/variable_load_5.py
/0x04-python-more_data_structures/103-python.c
/0x05-python-exceptions/103-python.c
/0x05-python-exceptions/103-tests.py
/0x06-python-classes/tests/0-main.py
/0x06-python-classes/tests/1-main.py
/0x06-python-classes/tests/2-main.py
/0x06-python-classes/tests/3-main.py
/0x06-python-classes/tests/4-main.py
/0x06-python-classes/tests/5-main.py
/0x06-python-classes/tests/6-main.py
/0x06-python-classes/tests/100-main.py
/0x06-python-classes/tests/101-main.py
/0x06-python-classes/tests/102-main.py
/0x07-python-test_driven_development/tests/*
